@charset "urf-8";
@import "@/scss/const.scss";

output {
  font-size: 20px;
  word-wrap: break-word;
  font-family: "SF Pro Text", "Hiragino Sans", "ヒラギノ角ゴ",
    "ヒラギノ角ゴ ProN", "游ゴシック", "Yu Gothic", YuGothic, Meiryo, "メイリオ",
    Roboto, "Helvetica Neue", system-ui, "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  *:first-child {
    margin-top: 0;
  }
  h1{
    margin-top: 2em;
    font-size: 3em;
    letter-spacing: .02em;
    line-height: 1.2;
    color: $COLOR_MAIN;
  }
  h2{
    margin-top: 1.2em;
    font-size: 1.6em;
    line-height: 1.2;
    color: rgba(#{$COLOR_RGB_MAIN}, 0.9);
  }
  h3{
    margin-top: 1em;
    font-size: 1.2em;
    color: rgba(#{$COLOR_RGB_MAIN}, 0.9);
    line-height: 1.2;
  }
  h4,h5,h6{
    margin-top: .8em;
    font-size: 1.1em;
    color: rgba(#{$COLOR_RGB_MAIN}, 0.8);
  }
  ul,ol{
    margin-top: .8em;
    padding-left: 1.6em;
    li{
      margin-top: 0;
    }
    > li{
      margin-top: .1em;
    }
    ul, ol{
      margin-top: .1em;
    }
  }
  ul{
    list-style-type: disc;
  }
  ol{
    list-style: decimal;
  }
  ul ul, ol ul{
    list-style: circle;
  }
  ul ol, ol ol{
    list-style-type: lower-roman;
  }
  ul ul ul, ul ol ul, ol ul ul, ol ol ul{
    list-style: square;
  }
  ol ol ol, ol ul ol, ul ol ol, ul ul ol{
    list-style-type: lower-alpha;
  }
  table{
    margin-top: 1.6em;
    border-collapse: collapse;
    border-spacing: 0;
    background: rgba(#{$COLOR_RGB_MAIN}, 0.1);
    font-size: .9em;
    th{
      border-bottom: 1px solid $COLOR_MAIN;
    }
    tr:nth-child(even){
      background: rgba(#{$COLOR_RGB_MAIN}, 0.1);
    }
    th,td{
      padding: .6em .8em;
    }
  }
  p{
    margin-top: .4em;
  }
  pre{
    margin-top: .8em;
    background: rgba(#{$COLOR_RGB_MAIN}, 0.1);
    padding: .6em .8em;
    border-radius: 3px;
    overflow: scroll;
    code{
      background: none;
      padding: 0;
    }
  }
  blockquote{
    margin-top: .8em;
    font-style: italic;
    color: rgba(#{$COLOR_RGB_MAIN}, 0.5);
    border-left: 3px solid currentColor;
    padding: .4em .8em;
  }
  input[type=checkbox] {
  }
  img{
    margin-top: .8em;
  }
  hr{
    margin: 1.6em 0;
    border: none;
    border-bottom: 2px solid rgba(#{$COLOR_RGB_MAIN}, 0.1);
  }
  strong{
    font-weight: bold;
  }
  em{
    font-style: italic;
  }
  del{
    text-decoration: line-through;
    opacity: .5;
  }
  code,kbd{
    font-family: RictyDiminishedDiscord, "Ricty Diminished", Ricty, Menlo,
      monospace;
    background: rgba(#{$COLOR_RGB_MAIN}, 0.1);
    padding: .2em .4em;
    border-radius: 3px;
  }
  a{
    text-decoration: underline;
    color: rgba(#{$COLOR_RGB_THEME}, .9);
    &:active,&:hover{
      color: $COLOR_THEME;
    }
  }
}
