/* basic site style */

/* TODO: PRINT */
:root {
  @media (prefers-color-scheme: light) {
    --color-theme: #3367d6;
    --color-base: #fff;
    --color-main: #202124;
    --color-caution: #a80a00;
  }
  @media (prefers-color-scheme: dark) {
    --color-theme: #8ab4f8;
    --color-base: #323639;
    --color-main: #f8f9fa;
    --color-caution: #a80a00;
  }

  &[data-theme="light"] {
    --color-theme: #3367d6;
    --color-base: #fff;
    --color-main: #202124;
    --color-caution: #a80a00;
  }
  &[data-theme="dark"] {
    --color-theme: #8ab4f8;
    --color-base: #323639;
    --color-main: #f8f9fa;
    --color-caution: #a80a00;
  }

  --sp-l: 64px;
  --sp-m: 32px;
  --sp-s: 16px;
  @media (width < 480px) {
    --sp-l: 48px;
    --sp-m: 16px;
    --sp-s: 8px;
  }

  color: var(--color-main);
  background-color: var(--color-base);
  accent-color: var(--color-theme);

  line-height: 1.6;
  font-weight: 500;
  font-size: 18px;
  @media (width < 480px) {
    font-size: 16px;
  }
}

p {
  margin-block-start: 0.8em;
}

p a {
  color: var(--color-theme);
}

a,
button {
  transition: 0.2s ease-out;
  &:hover,
  &:active {
    transition: 0.2s ease-in;
  }
}
