doctype html
html(lang='en')

    head
        title Query
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='styles/main.min.css')
        link(rel='shortcut icon', href='images/favicon.ico')
        script(src='scripts/analytics.min.js')

    body

        //- #tips
        //-     .cover
        //-     .modal
        //-         h2 Thank You for Install
        //-         p: ol
        //-             li aaa
        //-         button got it

        #form
            textarea(autofocus='autofocus',placeholder=' input Query',tabindex='1')
            button.rec(tabindex='-1')
                i.material-icons mic_none
            ul
                li: button(url='https://www.google.com/search?q=%s') Google Search Search Search Search Search
                li: button(url='%s') Move to Entered URL
                li: button(url='https://translate.google.com/?#auto/ja/%s') Translate to Japanese
                li: button(url='https://translate.google.com/?#auto/en/%s') Translate to English
                li: button(url='http://video.unext.jp/freeword?query=%s') Search in U-NEXT
                li: button(url='https://www.netflix.com/search?q=%s') Search in Netflix
                li: button(url='https://www.amazon.co.jp/s/?url=search-alias%3Dinstant-video&field-keywords=%s') Search in Amazon Video
                li: button(url='https://www.happyon.jp/search?q=%s') Search in Happyon
                li: button(url='http://www.google.com/search?hl=ja&q=%s&btnI=I%27m+Feeling+Lucky') I'm Feeling Lucky
                li: button(url='https://ja.wikipedia.org/w/?search=%s') Search in Wikipedia
                li: button(url='https://twitter.com/search?q=%s&src=typd') Search in Twitter
                li: button(url='https://www.google.com/search?q=%s&tbm=isch') Google Image Search
                li: button(url='https://www.google.com/search?q=%s&hl=en') Google Search in English
                li: button(url='https://www.google.co.jp/maps/search/%s') Search in Google Maps
                li: button(url='http://www.nicovideo.jp/search/%s') Search in NicoNico
                li: button(url='https://www.youtube.com/results?search_query=%s') Search in YouTube
                li: button(url='https://www.amazon.co.jp/s/?field-keywords=%s') Search in Amazon
                li: button(url='https://movies.yahoo.co.jp/search/?query=%s') Search in Yahoo！ Movie
                li: button(url='https://www.tumblr.com/search/%s') Search in Tumblr
                li: button(url='https://www.pixiv.net/search.php?word=%s') Search in Pixiv

        ul.menu
            li.options: a(title='Options', href='options.html')
                i.material-icons settings
            li#chrome-link
                a(href='#'): i.material-icons view_headline
                ul

                    li: a(href='settings')
                        i.material-icons settings
                        | settings
                    li: a(href='history')
                        i.material-icons history
                        | history
                    li: a(href='extensions')
                        i.material-icons extension
                        | extensions
                    li: a(href='bookmarks')
                        i.material-icons star
                        | bookmarks
                    li: a(href='downloads')
                        i.material-icons file_download
                        | downloads
                    li: a(href='apps')
                        i.material-icons apps
                        | apps


        footer
            #weather
            #clock
                p.time: img(src='images/loader.svg')
                p.date

        script(src='scripts/lib/jquery-3.1.1.slim.min.js')
        script(src='scripts/main.min.js')
