@charset "urf-8";

.c-overlay{
  z-index: $Z_NAV + 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(#000, 0.4);
  backdrop-filter: blur(2px);
  transition: $TRANSITION;
  &.show {
    pointer-events: auto;
    opacity: 1;
  }
}
.c-page{
  width: calc(100% - 64px);
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 120px;
  h1{
    margin-top: 120px;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 1.2;
    color: rgba(#{$COLOR_RGB_MAIN},1);
    &::before{
      content: "#";
      opacity: .4;
      margin-right: .2em;
    }
  }
  h2{
    margin-top: 96px;
    font-size: 32px;
    line-height: 1.2;
    &::before{
      content: "##";
      opacity: .4;
      margin-right: .2em;
    }
  }
  h3{
    margin-top: 24px;
    font-size: 20px;
    line-height: 1.2;
    &::before{
      content: "###";
      opacity: .4;
      margin-right: .2em;
    }
  }
  ul{
    margin-top: 12px;
    li{
      margin-top: 8px;
      &::before{
        content: "-";
        opacity: .4;
        margin-right: .2em;
      }
    }
  }
  p{
    margin-top: 12px;
  }
}
.c-btn{
  display: block;
  height: 40px;
  min-width: 64px;
  line-height: 40px;
  padding: 0 24px;
  font-size: .9em;
  letter-spacing: .05em;
  font-weight: 600;
  background: $COLOR_THEME;
  color: $COLOR_BASE;
  border-radius: 4px;
  box-shadow: 0 1px 16px rgba(#000,.2);
  transition: $TRANSITION;
  &:hover{
    filter: brightness(120%);
  }
  svg{
    fill: $COLOR_BASE;
    width: 20px;
    height: 20px;
    margin-left: -8px;
    margin-right: 8px;
    vertical-align: text-bottom;
  }
}
