@charset "urf-8";

$COLOR_THEME: var(--color-theme);
$COLOR_BASE: var(--color-base);
$COLOR_MAIN: var(--color-main);

$COLOR_RGB_THEME: var(--color-theme-r),var(--color-theme-g),var(--color-theme-b);
$COLOR_RGB_BASE: var(--color-base-r),var(--color-base-g),var(--color-base-b);
$COLOR_RGB_MAIN: var(--color-main-r),var(--color-main-g),var(--color-main-b);

// $WIDTH_S: 480px;
// $WIDTH_M: 960px;
// $WIDTH_L: 1440px;

$TRANSITION: .2s ease;

$Z_NAV: 8000;
