@charset "urf-8";

// TODO: Darkmode
$COLOR_THEME: blue;
$COLOR_BASE: #fafafa;
$COLOR_MAIN: #000;

$WIDTH_S: 480px;
$WIDTH_M: 960px;
$WIDTH_L: 1440px;

$L_HEADER_HEIGHT: 56px;
$L_FOOTER_HEIGHT: 240px;

$ENGLISH_FONT: "Avenir Next", "Avenir Neue", "Avenir", Futura, "Century Gothic", "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "游ゴシック", "Yu Gothic", YuGothic, Meiryo, "メイリオ", Sans-serif;
