@charset "utf-8";
@import "reset";

:root{ font-size: 62.5%; }
$base: #FAFAFA;
$main: #263238;
$acce: #FFC107;

$HD: 1280px;
$WQHD: 2560px;

@mixin max($break) {
    @media screen and (max-width: $break) { @content; }
}

@mixin min($break) {
    @media screen and (min-width: $break) { @content; }
}

html{ background: $base; }
body{
    text-align: center;
    font: 1.6rem/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul{list-style: none}
*:hover{ transition: .2s ease; }

////////////////////////////////////////////////////////////////
// responsive
////////////////////////////////////////////////////////////////
@include max($HD) {
    :root{ font-size: 50%; }
}
@include min($WQHD) {
    :root{ font-size: 90%; }
}
