@charset "utf-8";
@import "config";

#chrome-link{
}

// なんか暗いからもっと明るいデザインに !
// #tips .cover{
//     content: "";
//     z-index: 999;
//     width: 100vw;
//     height: 100vh;
//     background: rgba(#000,.2);
//     position: fixed;
//     top: 0;
//     left: 0;
// }
// #tips .modal{
//     z-index: 1000;
//     padding: 1rem 2rem;
//     position: fixed;
//     width: 60em;
//     left:calc(50vw - 30em);
//     @include max(60em) {
//         width: 90%;
//         left: 5%;
//     }
//     height: 50vh;
//     top: 20vh;
//     background: rgba(#fff,.9);
//     box-shadow: 1px 2px 12px rgba(#000,.4);
//     border-radius: 6px;
//     i{
//     }
//     kbd{
//         border: .1rem solid #fff;
//         border-radius: .2rem;
//         padding: .2rem .4rem;
//     }
// }




////////////////////////////////////////////////////////////////
// FORM
////////////////////////////////////////////////////////////////
#form{
    width: 55em;
    max-width: 90%;
    margin: 4rem auto 0;
    position: relative;
    &::after{
        content: "";
        background: linear-gradient(transparent, $base);
        width: 100%;
        height: 5rem;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
#form textarea{
    resize: none;
    display: block;
    background: #fff;
    outline: none;
    border: 0;
    border-radius: .3rem .3rem 0 0;
    height: 10rem;
    width: 100%;
    padding: 1rem 1.5rem;
    &::placeholder { color: #ccc }
}
#form ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: key;
    margin: 1rem 0 0;
    padding: 0;
    height: calc(100vh - 36rem);
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
}
#form li{
    width: calc( 50% - .8rem );
    @include max(55em) { width: 100% }
}
#form button:not(.rec){
    display: block;
    outline: none;
    width: 100%;
    height: 4.2rem;
    margin: 1rem auto 0;
    padding: 0 8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    border: 0;
    border-radius: .2rem;
    background: #fff;
    color: $main;
    opacity: .8;
    position: relative;
    &:hover{
        transform:translateY(-.1rem);
        opacity: 1;
        box-shadow: 0 .1rem .4rem rgba(#000, 0.1);
    }
    &:active{
        transform:translateY(.05rem);
        opacity: .8;
        box-shadow: 0 .1rem .4rem rgba(#000, 0.4) inset;
        transition-duration: 0.1s;
    }
    &:focus{
        background: $acce;
    }
}
#form li:last-child button{
    margin-bottom: 5rem;
    // グラデーション部分と被らないようにする
}
#form button img{
    position: absolute;
    height: 1.8rem; width: 1.8rem;
    left: 1rem;
    top: 1.1rem;
    vertical-align: bottom;
}
#form .rec{
    display: block;
    outline: none;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    border: 0;
    border-top: 1px solid #f0f0f0;
    border-radius: 0 0 .3rem .3rem;
    background: #fff;
    padding: 0;
    color: $main;
    opacity: .7;
    position: relative;
    i{
        line-height: 3.2rem;
    }
    i.inputting{
        color: $acce
    }
}
// 1~9番目のボタンまでショートカットを表示
#form li:nth-child(-n+9) button:after, #form .rec:after{
    background: rgba(#000,.1);
    height: 2rem;
    width: 6rem;
    line-height: 2rem;
    font-size: 1.4rem;
    border-radius: .2rem;
    counter-increment: key;
    content:"alt + "counter(key);
    position: absolute;
    right: 1rem;
    top: 1.1rem;
}
#form .rec:after{
    content: "alt + 0";
    top: .5rem;
}



////////////////////////////////////////////////////////////////
// menu
////////////////////////////////////////////////////////////////
.menu{
    position: fixed;
    top: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: row-reverse;
    @include max(55em){
        top: 2rem;
        right: 1rem;
        flex-direction: column;
    }
    >li>a{
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        color: rgba(#000,.2);
        @include max(55em) {
            width: 3rem;
            height: 3rem;
        }
        i{
            line-height: 4rem;
            font-size: 3rem;
            @include max(55em) {
                line-height: 3rem;
                font-size: 2.4rem;
            }
        }
    }
}
.options a:hover{
    color: rgba(#000,.4);
    transform: rotate(-60deg);
    background: rgba(#000,.1);
}
#chrome-link{
    position: relative;
    ul{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        padding: 0;
        margin: 0;
        width: 20rem;
        z-index: 200;
        box-shadow: 4px 6px 24px rgba(#000,.2);
        border-radius: 3px;
        a{
            display: block;
            text-align: left;
            padding-left: 3rem;
            width: 20rem;
            height: 6rem;
            line-height: 6rem;;
            color: rgba(#000,.6);
            text-decoration: none;
            border-radius: 3px;
            &:hover{
                background: rgba(#000,.1);
            }
        }
        a i{
            vertical-align: middle;
            margin-right: 2rem;
        }
    }
    &:hover ul{
        display: block;
    }
}



////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////
footer{
    background: $main;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 12rem;
}
#weather{}
#clock{
    color: #ccc;
    font: 2.6rem/1.7 "Trebuchet Ms",Sans-Serif;
    font-weight: bold;
    p{
        margin: 0;
    }
    .time{
        letter-spacing: .3em;
        margin-left: .3em;
        margin-top: 1.5rem;
        img{
            width: 2.4rem;
            height: 2.4rem;
            opacity: .7;
        }
    }
    .date{
        font-size: 1.7rem;
    }
}
